#topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1E1E1E;
    transition: width 0.3s ease-in-out;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

#topnav h1{
    color: #ffc107;
}



#topnav button{
    height:auto;
    width: auto;
    background-color: transparent;
    border: none 
}

#topnav button img{
    height:100%;
    width: 100%;
}

#logo{
    width: 100%;
    height: 100%;
    right: 10px;
    /* border: 3px solid red; */
}

  