#app-container {
    display: flex;
    width: 100%;
    min-height: 90vh;
    transition: all 0.3s ease-in-out;
    /* border: 20px solid green */
}

#app-container.sidebar-open #main-section {
    width: 80%;
    margin-left: 20%; /* Moves content to the right when sidebar opens */
    /* border: 10px solid red; */
}
#app-container.sidebar-open #topnav {
    width: 80%;
     /* Moves content to the right when sidebar opens */
    /* border: 10px solid red; */
}

#main-section {
    flex-grow: 1;
    width: 100%;
    transition: margin-left 0.3s ease-in-out;
    background-color: #E1B12C;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 4px solid red; */
}
#main-content{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    height: 100%;
    /* border: 4px solid red; */
    width:100%
}
.center-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
/* *{
    box-sizing: border-box;
} */